h1 {
  text-align: center;
}

body {
  padding: 8px;

}

table {
  width: 100%;
}

table, th, td {
  border-collapse: collapse;
  height: 40px;
  border-bottom: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 15px;
}

th {
  height: 50px;
  background-color: #191919;
  color: white;
}

td {
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #white;
}

.navbar-default {
  background-color: #e5e5e5;
  border-color: #e7e7e7;
}
