.navbar {
  position: relative;
  height: auto;
  width: 100%;
  border: 1px solid #4c4cff;
  background-color: #4c4cff;
  border-radius: 0px;
}

.logoFont {
  font-size: 1.3em;
}

.input-group {
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  font-family: 'Audiowide', cursive;

}

.navbar-default .navbar-nav > li > a:hover {
  font-family: 'Audiowide', cursive;
  font-size: 1.1em;
  color: darkblue;
}

.navbar-default .navbar-brand {
	margin: 3px;
	color: white;
	text-shadow: 2px 2px black;
}

.navbar-default .navbar-brand:hover {
	margin: 3px;
	color: darkblue;
	border-radius: 20px;
	background-color: grey;
}

.navbar-default .navbar-brand:visited {
	text-decoration: none;
	color: white;
}

.noshrink {
  border-radius: 0px;
}

ul.nav li a, ul.nav li a:visited {
    color: white;
}

ul.nav li a:hover, ul.nav li a:active {
    color: white;
}

ul.nav li.active a {
    color: white;
}
